
<br />
<ul class="list-group">
    <li class="list-group-item active">A) Steps to upload images under Missing/Sighted list section. </li>
    <li class="list-group-item">1. Click on <i>PersonGroups</i> section.</li>
    <li class="list-group-item">2. Click on <i>People</i> to add missing/sighted person image and his/her details.</li>
    <li class="list-group-item">3. Click on <i>Create New</i> & mention the person's Name & under 'UserData' mention his details like the address of Sight/Missing, date of missing/sighted and your contact information & click Save.</li>
    <li class="list-group-item">4.Now click on <i>Add Face</i>, click on 'Choose File' and select his/her face image and click on send.. for better face results upload upto 5 face images in differen angles.</li>
    <li class="list-group-item">5.Now come back to <i>PersonGroup</i> section and click on <i>Train</i> option.</li>
</ul>

<ul class="list-group">
    <li class="list-group-item active">B) Steps to Identify faces of Missing/Sighted person's.</li>
    <li class="list-group-item">1. Click on <i>Face Identify</i> section</li>
    <li class="list-group-item">2. upload the face image of the missing/sighted person & choose any of the list option (i.e Missing/Sigthed list) & click on send, if no results then change the option.. if someone had uploaded his/her details then the result will be shown with the person's Name.</li>
    <li class="list-group-item">3. If Person = Success then click on <i>PersonGroup</i> section & choose  <i>People</i> option (i.e Missing/Sighted) from which the result was successful & look for the person's name & click on <i>Details</i> , you will find the required info about the person and the contact info of the uploader.</li>
    <li class="list-group-item">4. If Person = no match then follow the steps mentioned in section A.</li>

</ul>

<ul class="list-group">
    
    <li class="list-group-item active">1. What if the child is below 5 year's old and not able to identify his/her parents, how can the citizen/ police trust that its thier child?</li>
    <li class="list-group-item"> Ans: Either birth certificate or DNA test must be taken into concideration for the authenticity.</li>
    <li class="list-group-item active">2. What if the child sighthed is Dumb, deaf, blind etc. What details needs to be filled in of the missing child? </li>
    <li class="list-group-item">Ans: In such case, the user just needs to upload the person's face picture and instead of the missing person's details the citizen details needs to to filled in with thier contact info.</li>
</ul>