@{
    Layout = null;
}
<div class="col-md-2">
    <ul style="margin-top:20px">
        <li>@Html.ActionLink("How-To?", "Index", "Detect")</li>
        <li>@Html.ActionLink("Face Identify", "Attributes", "Detect")</li>
        <li>@Html.ActionLink("Person groups", "Index", "PersonGroups")</li>
    </ul>
</div>