
@{
    ViewBag.Title = "Index";
}

<h3>Sighted Details</h3>
<h5>Did you sighted someone whom you feel is lost? Fill in the details of the person whom you sighted.</h5><br />
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#firstTab">View All</a></li>
    <li><a data-toggle="tab" href="#secondTab">Add New</a></li>
</ul>
<div class="tab-content">
    <div id="firstTab" class="tab-pane fade in active">@Html.Action("ViewAll")</div>
    <div id="secondTab" class="tab-pane fade in ">@Html.Action("AddOrEdit")</div>

</div>

<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


    <script>
        function activatejQueryTable() {
            $("#SightedTable").DataTable();
        }

        $(function () {
            activatejQueryTable();
        });

    </script>
    }
